  .menu-toggle {
    display: block !important;
  }
/* Responsive adjustments */
@media (min-width: 1024px) {
  /* lg breakpoint */


  .navbar-headline {
    display: flex; /* lg:flex */
  }

  .drawer {
    display: none; /* lg:hidden */
  }

  .drawer-overlay {
    display: none; /* lg:hidden */
  }
}

.menu-toggle {
  display: block;
}


@media (min-width: 768px) {
  /* md breakpoint for mobile menu columns */
  .drawer-content {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* md:grid-cols-3 */
  }
}