 <footer class="footer">
            <div class="footer-container">
                <!-- Footer Top Section: Logo, Sub-links, Social Media -->
                <div class="footer-top-section">
                    <div class="footer-logo-and-sublinks">
                        <!-- Logo Section -->
                        <a href="#" class="footer-logo">
                            <img class="icon"
                                src="assets/images/logos/vra_logo.png"
                                alt="VRA Logo">
                            <span class="text">VOLTA RIVER
                                AUTHORITY</span>
                        </a>
                        <!-- Sub-links -->
                        <ul class="footer-sub-links">
                            <li><a
                                    href="htmls/pages/about_us/our_impact.html">CSR</a></li>
                            <li><a
                                    href="htmls/pages/rti/rti.html">RTI</a></li>
                            <li><a
                                    href="htmls/pages/contact/vas.html">VAS</a></li>
                        </ul>
                    </div>

                    <!-- Social Buttons -->
                    <div class="footer-social-media">
                        <a href="https://www.facebook.com/vraghana"
                            target="_blank" aria-label="Facebook"><i
                                class="fab fa-facebook-f"></i></a>
                        <a href="https://www.twitter.com/vraghana"
                            target="_blank" aria-label="Twitter"><i
                                class="fab fa-twitter"></i></a>
                        <a
                            href="https://www.youtube.com/channel/UC2EEOLsbn2tt9MoCaP3yUwA?feature=watch"
                            target="_blank" aria-label="YouTube"><i
                                class="fab fa-youtube"></i></a>
                    </div>
                </div>

                <!-- Footer Middle Section: Link Columns -->
                <div class="footer-middle-section">
                    <!-- Column 1: Who We Are -->
                    <div class="footer-links-column">
                        <h3>Who We Are</h3>
                        <ul>
                            <li><a
                                    href="htmls/pages/about_us/about_us.html">Our
                                    Vision, Mission and
                                    Values</a></li>
                            <li><a
                                    href="htmls/pages/about_us/our_impact.html">Our
                                    Impact</a></li>
                            <li><a
                                    href="htmls/pages/about_us/out_project.html">Our
                                    Projects</a></li>
                            <li><a
                                    href="htmls/pages/about_us/visiting_our_plants.html">Visiting
                                    Our Plants</a></li>
                            <li><a
                                    href="htmls/pages/about_us/board_members.html">Board
                                    Members</a></li>
                            <li><a
                                    href="htmls/pages/about_us/chief_exe.html">About
                                    Chief Executive</a></li>
                            <li><a
                                    href="htmls/pages/about_us/management_team.html">Management
                                    Team</a></li>
                        </ul>
                    </div>

                    <!-- Column 2: Our Companies -->
                    <div class="footer-links-column">
                        <h3>Our Companies</h3>
                        <ul>
                            <li><a
                                    href="htmls/pages/companies/akosombo_details.html">Akosombo
                                    Hotels Limited</a></li>
                            <li><a
                                    href="htmls/pages/companies/kpong_farms.html">Kpong
                                    Farms</a></li>
                            <li><a
                                    href="htmls/pages/companies/northern_electricity_com.html">Northern
                                    Electricity Distribution
                                    Company</a></li>
                            <li><a
                                    href="htmls/pages/companies/volta_lake_transport.html">Volta
                                    Lake Transport Company</a></li>
                            <li><a
                                    href="htmls/pages/companies/vra_health_service.html">VRA
                                    Health Services</a></li>
                            <li><a
                                    href="htmls/pages/companies/vra_international_schools.html">VRA
                                    International Schools</a></li>
                        </ul>
                    </div>

                    <!-- Column 3: News & Media -->
                    <div class="footer-links-column">
                        <h3>News & Media</h3>
                        <ul>
                            <li><a
                                    href="htmls/pages/media/latest_news.html">Latest
                                    News</a></li>
                            <li><a
                                    href="htmls/pages/media/archived_news.html">Archived
                                    News</a></li>
                            <li><a
                                    href="htmls/pages/media/archived_news.html">Tenders</a></li>
                            <li><a
                                    href="htmls/pages/media/press_releases.html">Press
                                    Releases</a></li>
                            <li><a
                                    href="htmls/pages/media/scoping_reports.html">Scoping
                                    Reports /
                                    Notices</a></li>
                            <li><a
                                    href="htmls/pages/media/spillage_controlled.html">Akosombo
                                    Spillage
                                    Controlled</a></li>
                        </ul>
                    </div>

                    <!-- Column 4: Others -->
                    <div class="footer-links-column">
                        <h3>Others</h3>
                        <ul>
                            <li><a
                                    href="htmls/pages/others/resources.html">Resources</a></li>
                            <li><a
                                    href="htmls/pages/contact/contant_details.html">Contact</a></li>
                            <li><a
                                    href="htmls/pages/about_us/our_scholarship_forms.html">Scholarship
                                    Forms</a></li>
                            <li><a
                                    href="htmls/pages/news/newsletters.html">Newsletters</a></li>
                            <li><a
                                    href="htmls/pages/about_us/our_partners.html">Partners</a></li>
                            <li><a
                                    href="htmls/pages/about_us/power_generation.html">Fact
                                    & Figures</a></li>
                            <li><a
                                    href="htmls/pages/videos/vra_videos.html">Videos
                                    about VRA</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Bottom Section: Copyright & Legal Links -->
                <div class="footer-bottom-section">
                    <span class="footer-copyright">© 2025 Volta
                        River Authority. All Rights Reserved.</span>

                </div>
            </div>
        </footer>