 <!-- HEADER SECTION -->
        <header>
            <nav class="navbar">
                <div class="navbar-container">
                    <div class="navbar-left">
                        <!-- Hamburger Menu -->
                        <button id="menu-toggle" class="menu-toggle">
                            <div class="hamburger-icon" id="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>

                        <!-- VRA Logo -->
                        <a href="#" class="vra-logo">
                            <img class="icon"
                                src="assets/images/logos/vra_logo.png"
                                alt="Logo">
                            <span class="text">VOLTA RIVER AUTHORITY</span>
                        </a>
                    </div>

                    <!-- NAVBAR Headline -->
                    <div class="navbar-headline">
                        <span>Our Vision</span>
                        <span class="separator">|</span>
                        <a href="htmls/pages/about_us/our_profile.html">To be a
                            Model of Excellence for Power Utilities in
                            Africa.</a>
                    </div>
                </div>

                <!-- DRAWER -->
                <div id="drawer" class="drawer">
                    <!-- DRAWER HEADER -->
                    <div class="drawer-header">
                        <button id="close-menu" class="close-drawer-btn">
                            <i class="fas fa-times icon"></i>
                        </button>
                    </div>

                    <!-- DRAWER CONTENT -->
                    <div class="drawer-content">
                        <div class="main-drawer-menus-wrapper">
                            <ul>
                                <li><a href="#" class="drawer-menu-item"
                                        data-target="who-we-are">Who We Are <i
                                            class="fas fa-chevron-right arrow-icon"></i></a></li>
                                <li><a href="#" class="drawer-menu-item"
                                        data-target="what-we-do">What We Do <i
                                            class="fas fa-chevron-right arrow-icon"></i></a></li>
                                <li><a href="#" class="drawer-menu-item active"
                                        data-target="our-companies">Our
                                        Companies <i
                                            class="fas fa-chevron-right arrow-icon"></i></a></li>
                                <li><a href="#" class="drawer-menu-item"
                                        data-target="resources">Resources <i
                                            class="fas fa-chevron-right arrow-icon"></i></a></li>
                                <li><a href="#" class="drawer-menu-item"
                                        data-target="news">News & Media<i
                                            class="fas fa-chevron-right arrow-icon"></i></a></li>
                                <li><a href="#" class="drawer-menu-item"
                                        data-target="stakeholders">Our
                                        Stakeholders<i
                                            class="fas fa-chevron-right arrow-icon"></i></a></li>
                                <li><a href="#" class="drawer-menu-item"
                                        data-target="contact-Us">Contact Us
                                        <i
                                            class="fas fa-chevron-right arrow-icon"></i></a></li>
                               <li><a href="#" class="drawer-menu-item"
                                        data-target="contact-Us">Newsletters
                                        <i
                                            class="fas fa-chevron-right arrow-icon"></i></a></li>
                            </ul>
                        </div>

                       
                        <div class="drawer-sub-menu-section"
                            id="sub-menu-content">
                            <ul id="our-companies-sub-menu">
                                <li><a
                                        href="htmls/pages/companies/akosombo_details.html">Akosombo
                                        Hotels Limited</a></li>
                                <li><a
                                        href="htmls/pages/companies/kpong_farms.html">Kpong
                                        Farms</a></li>
                                <li><a
                                        href="htmls/pages/companies/northern_electricity_com.html">Northern
                                        Electricity Distribution
                                        Company</a></li>
                                <li><a
                                        href="htmls/pages/companies/volta_lake_transport.html">Volta
                                        Lake Transport Company</a></li>
                                <li><a
                                        href="htmls/pages/companies/vra_health_service.html">VRA
                                        Health Services</a></li>
                                <li><a
                                        href="htmls/pages/companies/vra_international_schools.html">VRA
                                        International Schools</a></li>
                            </ul>
                            <!-- Other sub-menu contents can be hidden and shown based on active menu item -->
                            <ul id="who-we-are-sub-menu" style="display: none;">
                                <li><a
                                        href="htmls/pages/about_us/our_vision_mission.html">Our
                                        Vision, Mission and
                                        Values</a></li>
                                <li><a
                                        href="htmls/pages/about_us/our_impact.html">Our
                                        Impact</a></li>
                                <li><a
                                        href="htmls/pages/about_us/out_project.html">Our
                                        Projects</a></li>
                                <li><a
                                        href="htmls/pages/about_us/visiting_our_plants.html">Visiting
                                        Our Plants</a></li>
                                <li><a
                                        href="htmls/pages/about_us/board_members.html">Board
                                        Members</a></li>
                                <li><a
                                        href="htmls/pages/about_us/chief_exe.html">About
                                        Chief Executive</a></li>
                                <li><a
                                        href="htmls/pages/about_us/management_team.html">Management
                                        Team</a></li>
                            </ul>
                            <ul id="what-we-do-sub-menu" style="display: none;">
                                <li><a
                                        href="htmls/pages/what_we_do/akosombo_hydro_plant.html">Akosombo
                                        Hydro Plant</a></li>
                                <li><a
                                        href="htmls/pages/what_we_do/kpong_hydro_plant.html">Kpong
                                        Hydro Plant</a></li>
                                <li><a
                                        href="htmls/pages/what_we_do/takoradi_thermal_power.html">Takoradi
                                        Thermal Power Station</a></li>
                                <li><a
                                        href="htmls/pages/what_we_do/takoradi_3_thermal_plant.html">Takoradi
                                        3(T3) Thermal Plant</a></li>
                                <li><a
                                        href="htmls/pages/what_we_do/tema_thermal_power.html">Tema
                                        Thermal Power Complex</a></li>
                                <li><a
                                        href="htmls/pages/what_we_do/kpone_thermal_power.html">Kpone
                                        Thermal Power Station</a></li>
                                <li><a
                                        href="htmls/pages/what_we_do/anwomaso_thermal_power.html">Anwomaso
                                        Thermal Power Station</a></li>
                                <li><a
                                        href="htmls/pages/what_we_do/navrongo_solar_power.html">Navrongo
                                        Solar Power Plant</a></li>
                                <li><a
                                        href="htmls/pages/what_we_do/lawra_solar_power_plant.html">Lawra
                                        Solar Power Plant</a></li>
                                <li><a
                                        href="htmls/pages/what_we_do/kaleo_solar.html">Kaleo
                                        Solor Power Plant</a></li>
                                <li><a
                                        href="htmls/pages/what_we_do/kaleo_solar_phase_ii.html">Kaleo
                                        Solor Power Plant (Phase II)</a></li>
                                <li><a
                                        href="htmls/pages/what_we_do/wind_energy.html">Wind
                                        Energy</a></li>
                                <li><a
                                        href="htmls/pages/what_we_do/non_power_activities.html">VRA
                                        Non-Power Activities</a></li>
                            </ul>
                            <ul id="resources-sub-menu"
                                style="display: none;">
                                <li><a
                                        href="htmls/pages/others/facts_and_figures.html">Power
                                        Generation: Facts & Figures</a></li>
                                <li><a
                                        href="htmls/pages/resources/annual_reports.html"></a>Annual
                                    Report</li>
                                <li><a
                                        href="htmls/pages/resources/sustainability_reports.html">Sustainability
                                        Reports</a></li>
                                <li><a
                                        href="htmls/pages/resources/greenhouse_reports.html"></a>Greenhouse
                                    Gas Inventory Report</li>
                                <li><a
                                        href="htmls/pages/news/newsletters.html"></a>Newsletters</li>
                                <li><a
                                        href="htmls/pages/contact/vendor_regis.html">Vendor
                                        Registration</a></li>
                                <li><a
                                        href="htmls/pages/others/customer_complaint_forms.html">Customer
                                        Complaints Form(Procurement)</a></li>
                                <li><a
                                        href="htmls/pages/about_us/code_of_ethics.html">VRA
                                        Code of Ethics</a></li>
                                <li><a
                                        href="htmls/pages/about_us/policy_statement.html">VRA
                                        Corporte Environment Policy
                                        Statement</a></li>
                                <li><a
                                        href="htmls/pages/about_us/local_content_polity.html">VRA
                                        Local Content Policy</a></li>
                                <li><a
                                        href="http://www.vra.com/resources/others/Implementation%20Guidelines%20for%20Framework%20for%20Aquaculture%20Development%20on%20the%20Volta%20Lake.pdf"
                                        target="_blank">Download the Framework
                                        for Acquaculture Development on the
                                        Volter Lake</a></li>
                                <li><a
                                        href="https://youtu.be/FGuWqkwdYjs?si=uV6_kd5TLGDJVoLz">Documentary:
                                        Kaleo Solar Power Plant (Phase
                                        II)</a></li>
                                <li><a
                                        href="https://www.youtube.com/embed/XVT5tutY5FI?si=lmRWMHXjvI512cxi"
                                        target="_blank">Documentary: Anwomaso
                                        Thermal Power Station</a></li>
                                <li><a
                                        href="https://youtu.be/iPLFtbSZSOo?si=vSgECPacTSXkTMfB"
                                        target="_blank">Documentary: Oral
                                        History of the Akosombo Dam</a></li>
                            </ul>
                            
                          
                            <ul id="stakeholders-sub-menu">
                                <li><a href="https://www.energymin.gov.gh/" target="_blank">Ministry of Energy</a></li>
                                <li><a href="https://gridcogh.com/" target="_blank">GRIDCo</a></li>
                                <li><a href="http://www.ecgonline.info/" target="_blank">Electricty Company Ghana Limited</a></li>
                                <li><a href="https://www.purc.com.gh/" target="_blank">Public Utilities Regulatory Commission</a></li>
                                <li><a href="https://www.energycom.gov.gh/" target="_blank">Energy Commission</a></li>
                                <li><a href="https://siga.gov.gh/" target="_blank">State Interests and Governance Authority</a></li>
                                <li><a href="https://www.unglobalcompactghana.com/" target="_blank">Global Compact Network Ghana</a></li>
                                <li><a href="https://efghana.org/" target="_blank">Energy Foundation</a></li>
                                <li><a href="https://buipower.com/" target="_blank">Abui Power Authority</a></li>
                                <li><a href="https://www.anglogoldashanti.com/" target="_blank">Anglo Gold Ashanti</a></li>
                                <li><a href="https://www.gnpcghana.com/" target="_blank">Ghana National Petroleum Corporation</a></li>
                                <li><a href="https://apua-asea.org/en/updea/ang/" target="_blank"></a>Apua Asea</li>
                                <li><a href="https://www.valcotema.com/" target="_blank">VALCO</a></li>
                                <li><a href="https://www.ecowapp.org/en" target="_blank">West Africa Power Pool</a></li>
                                <li><a href="https://www.epa.gov.gh/new/" target="_blank">Environmental Protection Agency</a></li>
                                <li><a href="https://www.hydropower.org/who-we-are/about-iha" target="_blank"></a>International HydroPower Association</li>
                                <li><a href="https://cfi.co/" target="_blank">CFI</a></li>

                            </ul>
                    

                            <ul id="other-links-sub-menu"
                                style="display: none;">
                                <li><a
                                        href="htmls/pages/others/resources.html">Resources</a></li>
                                <li><a
                                        href="htmls/pages/contact/contant_details.html">Contact</a></li>
                                <li><a
                                        href="htmls/pages/about_us/our_scholarship_forms.html">Scholarship
                                        Forms</a></li>
                                <li><a
                                        href="htmls/pages/news/newsletters.html">Newsletters</a></li>
                                <li><a
                                        href="htmls/pages/about_us/our_partners.html">Partners</a></li>
                                <li><a
                                        href="htmls/pages/about_us/power_generation.html">Fact
                                        & Figures</a></li>
                                <li><a
                                        href="htmls/pages/videos/vra_videos.html">Videos
                                        about VRA</a></li>
                            </ul>
                            <ul id="news-sub-menu" style="display: none;">
                                <li><a
                                        href="htmls/pages/media/latest_news.html">Latest
                                        News</a></li>
                                <li><a
                                        href="htmls/pages/media/archived_news.html">Archived
                                        News</a></li>
                                <li><a
                                        href="htmls/pages/media/archived_news.html">Tenders</a></li>
                                <li><a
                                        href="htmls/pages/media/press_releases.html">Press
                                        Releases</a></li>
                                <li><a
                                        href="htmls/pages/media/scoping_reports.html">Scoping
                                        Reports /
                                        Notices</a></li>
                                <li><a
                                        href="htmls/pages/media/spillage_controlled.html">Akosombo
                                        Spillage
                                        Controlled</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
